#background-img {
  background-image: url("slothb.jpg");
}

.container{
  background-color: #00FF00;
}

img {
  padding: 2px;
  border: 10px solid #00FF00;
}

#field-margin {
  margin: 10%;
}

button {
  background-color: lightyellow;
  position: absolute;
  top: 143%;
  left: 11%;
}

#ul-font {
  font-family: arial;
}

#footer-center {
  font-weight: bold;
  font-size: 1em;
  bottom: 0;
  text-align: center;
  width: 100%;
}

a:visited { 
    color: white;
}

@media screen and (max-width: 500px) 
              {body{ top: 0px;
                  right: 0px;
                  text-align: center;
                  width: 100%;
                  float: top;
                  position: absolute;}
                  ol{ text-align: left;}
                }
